
.footer{
    position: relative;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #1A535C;
}

.footer-copyright {
    /* position: absolute; */
    left: 0;
    width: 100%;
    background-color: #1A535C;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    /* border: solid red; */

}

 .copy{
    margin-top: 15px;
    color: white;
}
