.menu-jumbotron {
	background-color: #FF6B6B;
    display: flex;
    height: 180px;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
}

.restaurant-logo {
    padding-top: 220px;
    display: flex;
    justify-content: center;
}

.restaurant-logo img{
    height: 250px;
    width: 250px;
    background: white; 
    margin: auto;
    padding: 10px 10px;
    border-radius: 30px;
}

.restaurant-name {
    margin-top: -15px;
    display: flex;
    justify-content: center;
}

.restaurant-name b{
    font-size: 30px;
    margin-top: 15px;
}
