
.jumbotron .register{
    display: flex;
    height: 100%;
    background-image: url('../../images/Cover.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    overflow: hidden;
    height: 300px;
}

.background-image {
    display: flex;
    position: relative;
    background-image: url('../../images/Cover.jpg');
}

.loghmeh-cover img{
    object-fit: cover;
    opacity: 0.7;
}


.right{
	width: 50%;
	display: flex;
    flex-direction: row-reverse;
    color: white;
}
.name{
	margin-top: 18px;
	font-size: 27px;
	font-weight: bold; 
}

.left{
	width: 50%;
    display: flex;
}

.all-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data{
	color: white;
	display: flex;
    flex-direction: row-reverse;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #FF6B6B;
}
.nav-pills .nav-link:not(.active), .nav-pills .show>.nav-link {
    color: black;
}
.tabs {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: center;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 8px;
}

.sign-up-form .input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 8px;
    /* text-align: center; */
}

.container-sm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0%;
    padding-left: 0%;
    border: solid lightgrey;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 10%;
}

.form-inline {
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 30vh;
}

.form-inline .btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    margin-top: 10%;
    height: 10%;
}

@media screen and (min-width: 800px) {
    
    .form-inline {
        justify-content: center;
        flex-direction: column;
        width: 60vh;
        height: 50vh;
    }
    
    .form-inline .btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        text-align: center;
        margin-top: 10%;
        height: 10%;
    }
}
